* {
    margin: 0px;
    padding: 0px;
    user-select: none;
    -webkit-user-drag: none;
    overflow: hidden;
}
img {
    image-rendering: pixelated;
}
body {
    height: 100vh;
    width: 100vw;
}
#player-container {
    bottom: 0px;
    position: fixed;
    width: 100%;
    height: 40%;
    display: grid;
    grid-template-columns: 85% 15%;
    place-items: center;
    transition: transform .5s;
    border-top: solid 5px #000;
    background-color: #fff;
}
#player-hand, #player-deck {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
#deck-zone {
    right: 20px;
    z-index: -1;
}
.card-on-hand {
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card {
    transition: transform .2s, left .2s;
    position: absolute;
    width: 10%;
}
.card-part {
    position: absolute;
    width: 100%;
    height: fit-content;
}
#scenario-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    transition: transform .4s;
    z-index: 3;
}
.scenario-line {
    position: fixed;
    width: 100vw;
    height: 150px;
    background-color: #000;
}
#scenario-top-line {
    top: 0px;
}
#scenario-bottom-line {
    bottom: 0px;
}
.scenario-on {
    transform: scale(1);
}
.scenario-off {
    transform: scale(2);
}
.hidden {
    visibility: hidden;
}
#asd {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #000;
}
#bell {
    width: 13%;
    position: absolute;
    top: 47%;
    left: 50px;
    transition: transform .5s;
}
.bell-pushed {
    transform: translateY(90px);
}
.bell-up {
    transform: translateY(0px);
}
#card-info {
    padding: 20px;
    font-size: 1.5rem;
    border: solid 4px black;
    height: 40%;
    width: 20%;
    position: absolute;
    top: 5%;
    right: 2%;
    transition: transform .5s;
}